.carrossel {
    display: flex; /* Usar flexbox para alinhar os elementos */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    width: 750px; /* Ajuste a largura conforme necessário */
    overflow: hidden;
    margin: auto;
  }
  
  .imagens {
    display: flex;
    transition: transform 0.5s ease; 
  }
  
  .imagens img {
    width: 100%;
    display: none; /* Esconde todas as imagens inicialmente */
    
  }
  
  .imagens img.active {
    display: block; /* Exibe apenas a imagem ativa */
  }
  
  .seta {
    background-color: transparent;
    border: none;
    cursor: pointer;
  
  }
  
  .seta img {
    width: 30px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
  }
  
  .direita{
    margin-right: 10px;
  }
  
  .esquerda {
    margin-left: 10px; 
  }
  
  .bolinhas {
    text-align: center;
    margin-top: 10px;
  }
  
  .bolinha {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgba(122, 0, 0, 0.56);
    border-radius: 50%;
    cursor: pointer;
  }
  
  .bolinha.active {
    background-color:#7A0000;
  }