/* importação da fonte principal */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Cores em variáveis */
:root{
  --BrancoFundo: #EEF0EB;
  --Vermelho: #AE2A2B;
  --Azul: #326671; 
}

/* Estilos gerais */
html, body {
    margin: 0;
    padding: 0;
    font-family: "Dm Sans";
    min-height: 100%;
    position: relative;
  }
  
  body {
    padding-bottom: 150px; /* Espaço para o footer */
  }
  
  /* Menu */
  header {
    background-color: #b22b2b; /* Cor vermelha semelhante ao da imagem */
    padding: 15px 0;
    height: 700px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  nav .logo img {
    height: 60px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 20px;
  }
  
  nav ul li a {
    color: #f7f0f0; /* Cor branca com leve opacidade */
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #ffd700; /* Cor amarela ao passar o mouse */
  }
  
  /* Conteúdo */
  .content {
    padding: 20px;
  }
  
  /* Carrossel de Imagens */
  .swiper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 20vh;
    color: #fff;
    overflow: hidden;
  }
  
  .swiper-slide {
    position: relative;
    width: 250px;
    height: 450px;
    aspect-ratio: 3/4;
    border-radius: 14px;
    border: 1px solid rgba(177, 177, 177, 0.4);
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    user-select: none;
  }
  
  .title {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -20%);
    width: max-content;
    text-align: center;
    padding: 10px 18px;
    background: rgba(46, 39, 39, 0.3);
    border-radius: 8px;
    border: 2px solid rgba(177, 177, 177, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all 0.5s linear;
  }

  .textos-inicial {
    margin-top: -600px;
  }

  h1 {
    font-family: 'Dm Sans', sans-serif;
    color: var(--BrancoFundo);

    justify-content: center;
    text-align: center;

    font-size: 66px;
  }

  .home-p {
    font-family: 'Dm Sans', sans-serif;
    color: var(--BrancoFundo);
    width: 600px;

    justify-content: center;
    text-align: center;

    margin-left: 30%;

    font-size: 20px;
  }
  
  /* estilo do "o que é o hemoglobina?" */
  .apresentacao2 {
    margin: 15%;
    margin-top: -3%;

    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .home-title {
    font-family: 'Dm Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
  }

  .home-text {
    font-size: 24px;
    text-align: justify;
    padding-bottom: 2%;
  }

  .home-title2 {
    font-family: 'Dm Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: 10%;
  }

  .home-text2 {
    font-size: 24px;
    text-align: justify;
    padding-bottom: 2%;
    width: 1130px;
    text-align: center;
    margin-left: 15%;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 3%;
  }

  .button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
  }

  .button.doador {
    background-color: #d9e4e3;
    color: #3c6064;
  }

  .button.hemocentro {
    background-color: #3c6064;
  }

  .tela-celular {
    margin-top: -10%;
    margin-left: 3%;
  }

  .hemocentro2 {
    display: flex;
  }

  .detalhes-hemo1 {
    display: flex;
    flex-direction: column;
  }

  .detalhes-hemo1 img {
    height: 75px;
    width: 75px;
  }

  .detalhes-hemo1 {
    margin-left: 5%;
    margin-right: 10%;
  }

  .estoque p, .grafico p, .doacao p, .campanha p {
    width: 300px;
  }

  .estoque p, .campanha p {
    margin-bottom: 20%;
    margin-top: 10%;
  }

  .estoque, .campanha {
    margin-top: 15%;
  }

  /*Estilo doador*/
  .doador {
    display: flex;
  }

  .detalhes-doador1 {
    display: flex;
    flex-direction: column;
  }

  .detalhes-doador1 img {
    height: 75px;
    width: 75px;
  }

  .detalhes-doador1 {
    margin-left: 5%;
    margin-right: 10%;
  }

  .hemo-prox p, .chatbot p, .carteirinha p, .campanha p {
    width: 300px;
  }

  .hemo-prox p, .campanha p {
    margin-bottom: 20%;
    margin-top: 10%;
  }

  .hemo-prox, .campanha {
    margin-top: 15%;
  }

  .divulgacao-hemocentro {
    display: flex;
    margin-top: 5%;
    justify-content: center;
  }

  .div-h1, .div-h4, .div-h2, .div-h5 {
    margin-bottom: 20%;
  }

  .div-h1 img, .div-h2 img, .div-h3 img {
    margin-left: 20%;
  }

  .div-h4 img, .div-h5 img, .div-h6 img {
    margin-left: 40%;
  }

  /*separadorCima*/
  .separadorCima {
    width: 0;
    height: 0;
    border-right: 98.8vw solid transparent;
    border-bottom: 30.9vw solid #b22b2b;
    margin-top: 13.9vw;
    transform: scaleX(-1);
  }
  
  /* Footer */
  footer {
    background-color: #b22b2b; /* Cor vermelha do footer */
    color: #fff;
    text-align: center;
    padding: 8px 0;
    position: absolute;
    width: 100%;
    margin-top: auto;
  }
  
  .footer-logo img {
    width: 80px;
    margin-bottom: 20px;
  }
  
  .footer-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .footer-menu li {
    margin: 0 15px;
  }
  
  .footer-menu li a {
    color: #f7f0f0;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
  }
  
  .footer-menu li a:hover {
    color: #ffd700; /* Cor amarela ao passar o mouse */
  }
  
  .footer-icons {
    margin-bottom: 20px;
  }
  
  .footer-icons a {
    margin: 0 10px;
  }
  
  .footer-icons img {
    width: 80px;
  }
  
  /* Linha horizontal no footer */
  hr {
    width: 100%;
    border: none;
    border-top: 1px solid #fff;
    margin: 20px auto;
  }
  
  footer p {
    margin-top: 10px;
    font-size: 14px;
  }